@media only screen and (min-width: 1111px) {
  .fourths-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fourths {
    max-width: 335px;
  }

  .fourths:last-of-type {
    display: block;
  }

  .latest-news-deals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1410px;
    margin: 0 auto;
  }

  .sechead {
    grid-column: 1 / span 4;
  }

  .latest-funding {
    margin: 0 auto;
    max-width: 1410px;
  }

  .core {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1410px;
    margin: 0 auto;
  }
}
