@media only screen and (min-width: 1111px) {
  .main-article .post-title {
    font-size: 3rem;
  }

  .main-article .post-category {
    font-size: 2rem;
  }

  .main-article .post-info .author {
    font-size: 1.3rem;
  }

  .main-article .post-info .post-time {
    font-size: 1.3rem;
  }

  .main-article2 .main-link {
    padding-top: 27%;
  }

  .main-article .main-link {
    padding-top: 27%;
  }

  .main-article2 .post-title {
    font-size: 2rem;
  }

  .main-article2 .post-category {
    font-size: 1.4rem;
  }

  .main-article2 .post-info .author {
    font-size: 1.2rem;
  }

  .main-article2 .post-info .post-time {
    font-size: 1.2rem;
  }

  .fourths-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fourths {
    max-width: 335px;
  }

  .fourths:last-of-type {
    display: block;
  }

  .latest-news-deals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1410px;
    margin: 0 auto;
  }

  .sechead {
    grid-column: 1 / span 4;
  }

  .latest-funding {
    margin: 0 auto;
    max-width: 1410px;
  }

  .core {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1410px;
    margin: 0 auto;
  }
}
