@media only screen and (min-width: 841px) {
  .last-fourth {
    display: none;
  }

  .top-nav {
    display: grid;
    grid-template-columns: 1fr 96px;
    grid-template-rows: auto;
  }

  .nav-links {
    grid-column: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 500px auto;
  }

  .nav-sector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

  .nav-white {
    font-size: 90%;
    padding: 0 7px;
    color: rgba(34, 34, 34, 0.712);
  }

  .search-menu > span {
    display: none;
    visibility: hidden;
    position: absolute;
  }
}
