@media only screen and (max-width: 767px) {
  .section-img {
    object-fit: cover;
    max-height: 75px;
  }

  .news-item {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-column-gap: 0.75rem;
  }

  .latest-right {
    display: flex;
    flex-direction: column;
  }

  .invest-links {
    font-size: 0.95rem;
  }
}
